# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Build / slicer temp
*.gcode
*.tmp

# PlatformIO / firmware build
.pio/
.pioenvs/
.piolibdeps/

# ROS 2 build
software/ros2_ws/build/
software/ros2_ws/install/
software/ros2_ws/log/
